.navbar {
    grid-area: sidebar;
    background-color: #23252B;
    text-align: center;
    outline: 1px solid rgba(58, 68, 76, 1);
}

.item a{
    color:#FFFF;
    text-decoration: none;
    cursor: pointer;
}

.item a.active {
    color:#5992FF;
}