.app__wrapper {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas:
    "header header"
    "sidebar content";
}

.app__wrapper-content {
        grid-area: content;
        background-color: #F0F2F5;
        outline: 1px solid rgba(58, 68, 76, 1);
        min-height: 100vh;
}

.app__wrapper-content img {
    max-width: 400px;
}